{% extends 'layout.html' %}

{% block body %}
<h1>AWS Credentials</h1>
<form method="POST">
  <div class="form-group">
    <label for="user_id">AWS_ACCESS_KEY_ID</label>
    <input type="text" class="form-control" autocomplete="user_id" name="user_id" id="user_id" maxlength="20" aria-describedby="user_id_help" placeholder="AWS Access Key">
    <small id="user_id_help" class="form-text text-muted">Likely starts with AKIA...</small>
  </div>
  <div class="form-group">
    <label for="password">AWS_SECRET_ACCESS_KEY</label>
    <input type="password" class="form-control" autocomplete="password" name="password" id="password" maxlength="40" placeholder="AWS Secret">
  </div>
  <input id="redirect" name="redirect" type="hidden" value="{{redirect}}">
  <button type="submit" class="btn btn-primary">Login</button>
</form>

{{ message }}

{% endblock %}

