    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/{{os.environ.AWS_DEFAULT_REGION}}/streams">Slow Query Logs for: {{stream.logStreamName}} ||</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link {{ui.details}}" href="../../details/{{stream.arn | urlencode}}/">Details</a>
            <a class="nav-item nav-link {{ui.count}}" href="../../data/{{stream.arn | urlencode}}/">Data</a>
            <a class="nav-item nav-link" href="../../refresh/{{stream.arn | urlencode}}/">Refresh</a>
        </div>
      </div>
    </nav>
